<%= form_tag("/permissions", method: "post") do %>
<div class="form-group">
<%= select_tag "employee_id", options_from_collection_for_select(@employees, "id", "name", current_user.id), class: "form-control display-menus"%>

<%= select_tag "permission_id",options_from_collection_for_select(Permissions::PERMISSIONS, :last, :first), class: "form-control display-menus"%><br>
</div>
<%= submit_tag "Update", id:"update_permissions", class: "btn btn-outline btn-xl js-scroll-trigger nobackground mt-3" %>
<% end%>


