<div class="container">
<div class="row justify-content-lg-center">
<div class="col-lg-5 col-lg-offset-5">
<div class="form-control extra-style custom-font text-center">
<% provide(:button_text, "Update Profile")%>
<%= render 'employees/form' %>
<div class="row justify-content-md-center">
<div class="col-lg-8 col-md-8">
<%= link_to "Back", @employee, class:"btn btn-outline btn-xl js-scroll-trigger btn-block top-buffer mb-3"%>
</div>
</div>
</div>
</div>
</div>
</div>
