<div class="container mb-5">
<div class="row justify-content-md-center">
<h1>List of colleagues</h1>
</div>
</div>
<div class="jumbotron jumbotron-country text-center jumbotron-background top-buffer">
<div class="container">
<div class= "row justify-content-md-center">
<%= render @employees %>
</div>
</div>
</div>
</div class="container">
<div class="row justify-content-center">
<div class="col-lg-4 col-md-4">
<%= link_to "Back", employee_path(current_user.id), class:"btn btn-outline btn-xl js-scroll-trigger btn-block top-buffer mb-3"%>
</div>
</div>
</div>