<%= form_tag("/reports", method: "get") do %>
<div class="form-group">
<%= select_tag "dealership_id", content_tag(:option,'All',:value=>0)+content_tag(:option,'Your Dealership',:value=>current_user.dealership.id)+options_from_collection_for_select(@dealerships, "id", "name"), class: "form-control display-menus"%>
<%= select_tag :type, content_tag(:option,'In Repair',:value=>0)+content_tag(:option,'Lot Ready',:value=>1), class: "form-control display-menus" %><br>
</div>
<%= submit_tag "Generate", class: "btn btn-outline btn-xl js-scroll-trigger nobackground mt-3" %>
<% end%>
