<div class="container">
<div class="row justify-content-lg-center">
<div class="col-lg-5 col-lg-offset-5">
<div class="form-control extra-style custom-font text-center">
<% provide(:button_text, "Add to dealership")%>
<%= render 'vehicles/form'%>
</div>
</div>
</div>
</div>