<h1>Home Page</h1><br>

<%= link_to "View All Dealerships", dealerships_path %><br>

<%= link_to "Go to your dealership", dealership_path(current_user.dealership.id)%><br>

<%= link_to "See all of your co-workers", employees_path %><br>

<%= link_to "See your lot", dealership_vehicles_path(current_user.dealership.id) %><br>



