      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Welcome to Virtual Dealership Manager. Managing your dealer's inventory made easy.</h1>
              
              <div class="row">
                <div class="span3 mr-2">
                <a href="/signup" class="btn btn-outline btn-xl js-scroll-trigger">Start Now!</a>
                </div>
                <div class = "span3 mr-2">
                <a href="/login" class="btn btn-outline btn-xl js-scroll-trigger">Log in</a>
                </div>
                </div>
                
                <div class="row mt-3">
                <div class ="span 3 mr-2">
                <%= form_tag guestlogin_path, method: 'post'%>
                <%= submit_tag "Login as Guest", class: "btn btn-outline btn-xl js-scroll-trigger btn-block nobackground" %>
                </div>

                <div class ="span 3">
                <%= link_to "Login via GitHub", '/auth/github', class: "btn btn-outline btn-xl js-scroll-trigger"%>
                </div>

                </div>

            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <%= image_tag("welcome-dealerships.png", class:"img-fluid")%> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
